body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

header, nav {
  padding: 10px;
  color: #fff;
  background-color: #333;
}

nav {
  background-color: #444;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

main h2, main a, main ul, main li, main p, main form {
  color: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
  border: none;}