header {
  padding: 10px;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc8cb;
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.logo {
  margin-right: 10px;
  display: block;
}

p {
  color: #000000;
  text-decoration: none;
  padding: 10px;
}