.signup {
  padding: 10px;
}

.signup a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
}

.navigation {
  background-color: #fb8eff;
  padding: 10px;
  text-align: center;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}