.create-post {
  display: inline-block;
  padding: 12px 25px;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.create-post:hover {
  transform: scale(1.05);
}

.post-link {
  color: #1a73e8;
  text-decoration: none;
  font-size: 16px;
}

.post-link:hover {
  text-decoration: underline;
  color: #0c57b5;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

main li {
  margin-bottom: 20px;
}

main ul {
  margin: 10px auto;
  padding: 15px;
  border: 1px solid;
  list-style-type: none;
  width: 100%;
  max-width: 600px;
}

main p {
  size: 50px;
}

.post-content {
  font-size: 18px;        /* 글꼴 크기 */
  line-height: 1.6;       /* 줄 간격 */
  color: #333;            /* 글자 색 */
  background-color: #f9f9f9;  /* 배경 색 */
  padding: 15px;          /* 내용 주변의 여백 */
  border-radius: 5px;     /* 모서리 둥글게 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}