.form {
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 300px;
  margin: 40px auto;
}
form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #bbb;
}
button:active {
  background-color: #000;
  color: #fff;
}