
a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}

header a {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc8cb;
}

.logo {
  margin-right: 10px;
}

.signup {
  padding: 10px;
}

.navigation {
  background-color: #fed4ff;
  padding: 10px;
}
