{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>케어링크</title>
  <link rel="stylesheet" href="{% static 'common-header.css' %}">
  <link rel="stylesheet" href="{% static 'community.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body>
  <header>
    <h1>
      <a href="{% url 'main' %}">케어링크</a>
    </h1>
  </header>
  
  <nav>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
    <a href="{%url 'signup'%}">회원가입</a>
    <a href="{% url 'login' %}">로그인</a>
    {% endif %}  
  </nav>

  <div class="container">
    <h2>케어링크에 오신 것을 환영합니다.</h2>
  </div>

  <img src="static/carelink.png" alt="케어링크 로고" width="400" height="400" style="border-radius: 60px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);">  
  <footer>
    <p>&copy;2학년 11반 진로 프로젝트 Medic + dev </p>
  </footer>
</body>
</html>