{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <script>
    function showAlert(message) {
      alert(message);  
    }
  </script>
  <link rel="stylesheet" href="{% static 'common-header.css' %}">
  <link rel="stylesheet" href="{% static 'common-container.css' %}">
  <link rel="stylesheet" href="{% static 'common-button.css' %}">
</head>

<body>
  <header>
    <h1>
      <a href="{% url 'main' %}">판곡 포럼</a>
    </h1>
  </header>

  <nav>
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">로그아웃</a>
      <a href="{% url 'board' %}">게시판</a>
    {% else %}
      <a href="{% url 'signup' %}">회원가입</a>
      <a href="{% url 'login' %}">로그인</a>
    {% endif %}
  </nav>

  <div class="container">
    <h2>회원 가입</h2>
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <input type="text" id="student_id" name="student_id" placeholder="학번" required>
      <input type="text" id="name" name="name" placeholder="이름" required>
      <input type="password" id="password" name="password" placeholder="비밀번호" required>
      <button type="submit">회원 가입</button>
    </form>
  </div>

  <footer>
    <p>&copy; 2024 PYGRAM</p>
  </footer>
  
  {% if messages %}
    <script>
      {% for message in messages %}
        showAlert("{{ message }}");
      {% endfor %}
    </script>
  {% endif %}
  
</body>
</html>