{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <script>
    function showAlert(message) {
      alert(message);  
    }
  </script>
  <link rel="stylesheet" href="{% static 'common-header.css' %}">
  <link rel="stylesheet" href="{% static 'common-container.css' %}">
  <link rel="stylesheet" href="{% static 'common-button.css' %}">
</head>

<body>
  <header>
    <h1>
      <a href="{% url 'main' %}">케어링크</a>
    </h1>
  </header>

  <nav>
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
      <a href="{% url 'signup' %}">회원가입</a>
      <a href="{% url 'login' %}">로그인</a>
    {% endif %}
  </nav>

  <div class="container">
    <h2>회원 가입</h2>
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="name" id="name" placeholder="이름" maxlength="4" required>
      <input type="text" name="phone_number" id="phone_number" placeholder="전화번호" inputmode="numeric" maxlength="11" title="전화번호는 11자리 숫자로 입력해주세요." required>
      <input type="text" name="birth_date" id="birth_date" placeholder="생년월일 8자리(YYYY-MM-DD)" inputmode="numeric" maxlength="10"  title="생년월일은 8자리 숫자로 입력해주세요." required>
      <input type="text" name="user_id" id="user_id" placeholder="아이디" required>
      <input type="password" name="password" id="password" placeholder="비밀번호" required>
      <button type="submit">회원 가입</button>
    </form>
  </div>

  <footer>
    <p>&copy;2학년 11반 진로 프로젝트 Medic + dev </p>
  </footer>
  
  {% if messages %}
    <script>
      {% for message in messages %}
        showAlert("{{ message }}");
      {% endfor %}
    </script>
  {% endif %}
  
</body>
</html>