{% load static %}
{% load sass_tags %}
{% load django_browser_reload %}
{% django_browser_reload_script %}
<!DOCTYPE html>
<html>
<head>
  <title>나의기록</title>
  <link rel="stylesheet" href="{% sass_src 'scss/calendar.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'scss/myrecord.scss' %}">
</head>
<body>
  {% include 'header.html' %}

{% comment %} CalendarHTML {% endcomment %}

    <div id="calendar">
        {{ calendar_html|safe }} 
    </div>

    <script>
        // 날짜별 게시글 표시를 위해 서버에서 받은 데이터를 활용
        const postsByDate = {{ posts_by_date|safe }};
        document.querySelectorAll("td").forEach(td => {
            const day = td.innerText.trim();
            if (postsByDate[day]) {
                td.classList.add("has-posts");
                td.innerHTML += `<ul>`;
                postsByDate[day].forEach(post => {
                    td.innerHTML += `<li>${post.title}</li>`;
                });
                td.innerHTML += `</ul>`;
            }
        });
    </script>
  {% include 'footer.html' %}
</body>
</html>