{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<head>
  <title>나의기록</title>
  <link rel="stylesheet" href="{% sass_src 'scss/calendar.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'scss/myrecord.scss' %}">
</head>
<body>
  {% include 'header.html' %}
  <h1>{{year}}년 {{month}}월 {{day}}일의 기록</h1>
  {% if posts %}
      <ul>
          {% for post in posts %}
              <li>
                  <h2>{{ post.title }}</h2>
                  <p>{{ post.content }}</p>
              </li>
          {% endfor %}
      </ul>
  {% else %}
      <p>해당 날짜에 작성된 기록이 없습니다.</p>
  {% endif %}
  {% include 'footer.html' %}
</body>
</html>