{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <script>
    function showAlert(message) {
      alert(message);
    }
  </script>
  <link rel="icon" href="static/favicon.png" type="image/png">
  <link rel="stylesheet" href="{% static 'account.css' %}">
  <link rel="stylesheet" href="{% static 'button.css' %}">
</head>
<body>
  {% include "c.header.html" %}
  <div class="account">
    <h2>로그인</h2>
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="user_id" id="user_id" placeholder="아이디" required>
      <input type="password" name="password" id="password" placeholder="비밀번호" required>
      <button type="submit">로그인</button>
    </form>
  </div>
  <footer>
    <p>&copy;2학년 11반 진로 프로젝트 Medic + dev </p>
  </footer>
  {% if messages %}
    <script>
      {% for message in messages %}
        showAlert("{{ message }}");
      {% endfor %}
    </script>
  {% endif %}
</body>
</html>