{% load static %}
{% load sass_tags %}
{% load django_browser_reload %}
{% django_browser_reload_script %}
<!DOCTYPE html>
<html>
<head>
  <title>로그인</title>
</head>
<body>
  {% include "header.html" %}
  <div class="form">
    <h1>로그인</h1>
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <input name="user_id" placeholder="아이디" required>
      <input name="password" placeholder="비밀번호" type="password" required>
      <button type="submit">로그인</button>
    </form>
  </div>
  {% include 'footer.html' %}
</body>
</html>