{% load static %}
{% load sass_tags %}
{% load django_browser_reload %}
{% django_browser_reload_script %}
<!DOCTYPE html>
<html>
<head>  
  <title>회원가입</title>
  <link rel="stylesheet" href="{% sass_src 'scss/form.scss' %}">
</head>
<body>
  {% include "header.html" %}
  <div class="form">
    <h1>회원 가입</h1>
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <input name="name" placeholder="이름" maxlength="4" required>
      <input name="phone_number" placeholder="전화번호" maxlength="11" required>
      <input name="birth_date" placeholder="생년월일 8자리(YYYY-MM-DD)" maxlength="10" required>
      <input name="user_id" placeholder="아이디" required>
      <input name="password" placeholder="비밀번호" type="password" required>
      <button type="submit">회원 가입</button>
    </form>
  </div>
  {% include 'footer.html' %}
</body>
</html>