{% load static %}
{% load sass_tags %}
{% load django_browser_reload %}
{% django_browser_reload_script %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% sass_src 'scss/header.scss' %}"/>
  <link rel="stylesheet" href="{% sass_src 'scss/form.scss' %}">
</head>
{% comment %} 헤더 {% endcomment %}
<div class="auth-header">
  <div>
    <a href="{% url 'main' %}">케어링크</a>
  </div>
  <div class="logo">
      <img src="{% static 'logo.png' %}" width="40px" height="40px">
  </div>
  <div>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'signup' %}">회원가입</a>
    <a href="{% url 'login' %}">로그인</a>
    {% endif %}
  </div>
</div>
  {% if user.is_authenticated %}
  <nav>
    <a href="{% url 'mypage' %}">
      <img src="{% static 'nav-icon/mypage.png' %}">
      <span>마이페이지</span>
    </a>
    <a href="#">
      <img src="{% static 'nav-icon/cash.png' %}">
      <span>캐시현황</span>
    </a>
    <a href="#">
      <img src="{% static 'nav-icon/store.png' %}">
      <span>스토어</span>
    </a>
    <a href="{% url 'myrecord' %}">
      <img src="{% static 'nav-icon/myrecord.png' %}">
      <span>나의기록</span>
    </a>
    <a href="#">
      <img src="{% static 'nav-icon/friends.png' %}">
      <span>친구</span>
    </a>
    <a href="#">
      <img src="{% static 'nav-icon/community.png' %}">
      <span>커뮤니티</span>
    </a>
    <a href="#">
      <img src="{% static 'nav-icon/mission.png' %}">
      <span>그룹미션</span>
    </a>
  </nav>
{% endif %}
<script>
window.addEventListener('DOMContentLoaded', () => {
  const currentPath = window.location.pathname;
  const links = document.querySelectorAll('nav a');
  links.forEach(link => {
    const linkPath = link.getAttribute('href');
    if (linkPath === currentPath) {
      link.classList.add('active');
    } else {
      link.classList.remove('active');
    }
  });
});
let clickCount = 0;
const logo = document.querySelector('.logo img');
const targetURL = 'https://youtube.com/@dude_sk?si=yhwziBZz6AVqSnWi';
let timer;
logo.addEventListener('click', () => {
  clickCount++;
  if (timer) {
    clearTimeout(timer);
  }
  timer = setTimeout(() => {
    clickCount = 0;
  }, 10000);
  if (clickCount === 10) {
    window.open(targetURL, '_blank');
    clickCount = 0;
    clearTimeout(timer);
  }
});
</script>