{% load static %}
<!DOCTYPE html>
<head>
  <title>정보수정</title>
  <script>
    function showAlert(message) {
      alert(message);
    }
  </script>
</head>
<body>
  {% include 'header.html' %}
  <div class="mypage">
    <h1>정보 수정</h1>
    <form method="post">
        {% csrf_token %}
        <label>이름:</label>
        <input type="text" name="name" value="{{ user.name }}"><br>
        <label>전화번호:</label>
        <input type="text" name="phone_number" value="{{ user.phone_number}}"><br>
        <label>아이디:</label>
        <input type="text" name="user_id" value="{{ user.user_id }}"><br>
        <button type="submit">저장</button>
    </form>
  </div>
  {% include 'footer.html' %}
  {% if messages %}
  <script>
    {% for message in messages %}
      showAlert("{{ message }}");
    {% endfor %}
  </script>
  {% endif %}
</body>
</html>