{% load static %}
{% load sass_tags %}
{% load django_browser_reload %}
{% django_browser_reload_script %}
<!DOCTYPE html>
<html>
<head>
  <title>마이페이지</title>
  <link rel="stylesheet" href="{% sass_src 'scss/form.scss' %}">
</head>
<body>
  {% include 'header.html' %}
  <div class="form">
    <h1>마이페이지</h1>
    <p>이름 : {{ user.name }}</p>
    <p>아이디 : {{ user.user_id }}</p>
    <p>전화번호 : {{ user.phone_number }}</p>
    <p>생년월일 : {{ user.birth_date }}</p>
    <a href="{% url 'edit' %}">정보 수정하기</a>
  </div>
  {% include 'footer.html' %}
</body>
</html>