{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>케어링크</title>
  <link rel="icon" href="static/favicon.png" type="image/png">
  <link rel="stylesheet" href="{% static 'body.css' %}">
  <link rel="stylesheet" href="{% static 'header.css' %}">
</head>

<body>

  {% include 'header.html' %}
  <div class="contain">
    <h2>ㅁㄴㅇㄹ</h2>
  </div>

  <img src="{% static 'avocado.png' %}" alt="아보카도 친구">

  <footer>
    <p>&copy;2학년 11반 진로 프로젝트 Medic + dev</p>
  </footer>
</body>
</html>