a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}

header a {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b2d49f;
}

.logo {
  margin-right: 10px;
}

.header-account {
  margin-right: 10px;
}

.navigation {
  background-color: #dabdad;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.navigation a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation a img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.navigation a span {
  font-size: 12px;
}

.navigation a img:hover {
  transform: scale(1.2);
  cursor: pointer;
}