#calendar {
  table { // 전체 테이블 스타일
    width: 100%;
    border-collapse: collapse;
    text-decoration: none;
    th { // 년, 월, 요일
      text-decoration: none;
      text-align: center;
      border: 1px solid #ccc;
      padding: 10px;
    }
    td { // 일
      text-decoration: none;
      width: 100px;
      height: 100px;
      text-align: left;
      vertical-align: top;
      border: 1px solid #ccc;
    }
    a { // a태그 스타일
      text-decoration: none;
      color: #000;
      font-size: 14px;
      display: inline-block;
      padding: 10px;
      &.hover {
        color: #fff;
      }
    }
  }
}